/*-----------------RESPONSIVE*/

$mob: 425px;
$tablet: 768px;
$laptop-small: 1024px;
$laptop: 1440px;


@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $mob) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $mob + 1) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop-screens {
    @media only screen and (min-width: $laptop-small - 1) and (max-width: $laptop + 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $laptop) { @content; }
  }
}

/*-----------------NAV*/

nav {
    width: 12%;
    padding: 1%;
    position: fixed;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 100%;

    @include respond-to(mob) { 
      width: 45%;
      padding: 7%;
      text-align: center;
    }
    
    @include respond-to(medium-screens) {  
    
    }
    
    @include respond-to(laptop-screens) { 
    
    }
    
    @include respond-to(wide-screens) {  
    
    }
}

.NavBtn {
  background: black;
  height: 35px;
  width: 35px;
  position: fixed;
  z-index: 9999999;
  border-radius: 100%;
  padding: 5px;
  margin: 1%;
  display: flex;
  justify-content: center;
  cursor: pointer;    

  @include respond-to(mob) { 
    margin: 4%;
    margin-left: 80%;
  }
  
  @include respond-to(medium-screens) {  
  
  }
  
  @include respond-to(laptop-screens) { 
  
  }
  
  @include respond-to(wide-screens) {  
  
  }
}

.NavBtn img {
  width: 50%;
}

nav a {
  text-decoration: none;
  color: #bbbbbb;
  margin: 2% 0%;
}

nav a:hover {
  color: #ececec;
}